.popup__button {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    align-self: center;
    min-width: 358px;
    min-height: 50px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 2px;
    border: 0;
    margin-bottom: 36px;
    margin-top: 20px;
}

.popup__button:hover {
    opacity: .8;
}

@media screen and (max-width:720px) {
    .popup__button {
        min-width: 238px;
        min-height: 46px;
        font-size: 14px;
        line-height: 17px;
        margin: 28px auto 0;
    }
}