.popup__close-button {
    width: 32px;
    min-height: 32px;
    background: transparent center url(../../../../public/images/Close\ Icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
}

.popup__close-button:hover {
    opacity: .6;
}

@media screen and (max-width:720px) {
    .popup__close-button {
        width: 20px;
        background-size: 20px 20px;
        min-height: 20px;
        right: 0;
        top: -36px;
    }
}