.profile__avatar { 
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    pointer-events: none;
}

@media screen and (max-width:719px) {
    .profile__avatar {
        margin-right: 0;
        align-self: center;
    }
}