.popup__input {
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    color: black;
    border: none;
    width: 100%;
    max-width: 358px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 auto 25px;
    box-sizing: border-box;
}

.popup__input_type_error {
    border-bottom: 1px solid red;
    margin-bottom: 5px;
}

 @media screen and (max-width:720px) {
    .popup__input {
        margin-bottom: 20px;
    }
}