.header {
    max-width: 880px;
    min-height: 74px;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    margin: 0 auto;
    align-items: center;
}

@media screen and (max-width: 940px) {
    .header {
        max-width: calc(100vw - 30px * 2);
    }
}

@media screen and (max-width: 320px) {
    .header {
        max-width: 320px;
        margin-top: 28px;
        min-height: 56px;
    }
}